@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
html body{
  background: linear-gradient(100deg,#e66465, #9198e5);
}
.i_tag{
  display: flex;
  align-items: center;
  justify-content: end;
  padding-top: 20px;
  padding-right: 20px;
}
.i_tag i{
  font-size: 20px;
}
.i_tag i:hover{
  cursor: pointer;
}